{% extends 'base.html' %}

{% block title %}About{% endblock %}


{% block content %}
    <div class="max-h-full bg-gray-200 border border-gray-300 rounded p-4 w-full max-w-screen-sm">
        <div class="flex justify-center items-center text-3xl text-gray-900 mt-2">About Me</div>
        <div class="flex justify-center items-center text-xs text-gray-500 mt-2">
            A motivated entry level Backend Developer seeking to utilize my technical knowledge and problem-solving skills to create successful implementations and high-quality solutions that address real-world business needs and improve customer experience. Aiming to contribute my initiative and dedication to achieving organizational objectives and making a positive impact.
        </div>
    </div>
{% endblock %}