{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="max-h-full bg-gray-200 border border-gray-300 rounded p-4 w-full max-w-screen-sm overflow-auto">
        <div class="">
            <div class="mt-4 flex justify-center items-center">
                <svg class="fill-current w-8 h-8" version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                    <g fill="#3F51B5">
                        <polygon points="17.8,18.1 10.4,25.4 6.2,21.3 4,23.5 10.4,29.9 20,20.3"/>
                        <polygon points="17.8,5.1 10.4,12.4 6.2,8.3 4,10.5 10.4,16.9 20,7.3"/>
                        <polygon points="17.8,31.1 10.4,38.4 6.2,34.3 4,36.5 10.4,42.9 20,33.3"/>
                    </g>
                    <g fill="#90CAF9">
                        <rect x="24" y="22" width="20" height="4"/>
                        <rect x="24" y="9" width="20" height="4"/>
                        <rect x="24" y="35" width="20" height="4"/>
                    </g>
                </svg>
            </div>
            <div class="flex justify-center items-center text-3xl text-gray-900 mt-2">Welcome back</div>
            <div class="flex justify-center items-center text-xs text-gray-500 mt-2">Glad to see you again &#128075;</div>
            <div class="flex justify-center items-center text-xs text-gray-500">Login to your account below</div>
        </div>
        <div class="flex justify-center items-center">
            <a href="" class="mt-3 border-2 border-gray-300 rounded-xl w-full sm:w-2/3 flex justify-center items-center py-2 hover:bg-gray-300">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                    </svg>
                <span class="text-xs font-semibold">
                    Continue with Google
                </span>
            </a> 
        </div>
        <div class="flex justify-center items-center mt-4">
            <form method="post">
                {% csrf_token %}
                
                <div class="mt-4">
                    <div class="text-sm text-gray-500 select-none">
                        <label>Email</label>
                    </div>
                    {% render_field form.email class="border-2 border-gray-300 rounded py-2 w-full placeholder:text-sm px-4" placeholder="enter email..." %}
                </div>
                
                <div class="mt-4">
                    <div class="text-sm text-gray-500 select-none">
                        <label>Password</label>
                    </div>
                    {% render_field form.password class="border-2 border-gray-300 rounded py-2 w-full placeholder:text-sm px-4" placeholder="enter password..." %}
                </div>

                <button class="mt-4 hover:bg-indigo-500 rounded w-full py-2 hover:text-gray-200 bg-indigo-700 text-white">Login</button>
                <div class="text-xs text-gray-500 mt-4">
                    Don't have an accout? <a class="text-indigo-700" href="{% url 'signup' %}">Sign up for Free</a>
                </div>
            </form>
        </div>
    </div>


{% endblock %}