<div class="w-3/4 bg-gray-200 h-12 border border-gray-300 mt-4 rounded flex">
    <ul class="flex items-center">
        <li class="px-2">
            <span class="text-sm text-gray-400 font-semibold select-none">Todo</span>
        </li>
        <li class="px-2">
            <a class="text-sm text-gray-400 hover:text-gray-900 select-none" href="#">Home</a>
        </li>
        <li class="px-2">
            <a class="text-sm text-gray-400 hover:text-gray-900 select-none" href="#">About</a>
        </li>
        <li class="px-2">
            <a class="text-sm text-gray-400 hover:text-gray-900 select-none" href="#">Contact</a>
        </li>
    </ul>
    <svg class="md:hidden bg-gray-400 h-8 rounded mt-2" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
        <path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/>
    </svg>
</div>