<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Adding the tailwindcss CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-gray-100 h-screen flex flex-col items-center font-mono relative">
    {% include 'partials/navbar.html' %}
    <div class="">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'partials/footer.html' %}
</body>
</html>